torch
torchvision
pandas
Pillow
setuptools 
wheel
spacy>=3.8.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz#egg=en_core_web_sm
transformers
numpy
matplotlib
seaborn
tqdm
PyYAML
tqdm
matplotlib
seaborn
requests
python-box


-e .